# C++ Build Artifacts
**/build/
**/bin/
**/obj/
*.o
*.out
*.exe

# CMake specific
/CMakeCache.txt
/CMakeFiles/
/cmake_install.cmake
/Makefile

# Python & ML
**/__pycache__/
*.py[cod]
*$py.class
**/.venv/
**/env/
**/dist/

# CUDA/NVIDIA
*.cubin
*.ptx
*.fatbin
# Local benchmark artifacts
**/*.ncu-rep
**/ncu_log
level1/1_Square_matrix_multiplication_/cpu/roofline
